/* Set global styles for the body */
body {
  margin: 0; /* Remove default margin */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; /* Set font family */
  -webkit-font-smoothing: antialiased; /* Improve font rendering on WebKit browsers */
  -moz-osx-font-smoothing: grayscale; /* Improve font rendering on macOS */
}

/* Set styles for code elements */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; /* Set font family for code elements */
}
